section.hero {
  background: linear-gradient(
    0deg,
    rgba(124, 124, 124, 1) 27%,
    rgb(246, 146, 30) 27%
  );
  padding-top: 2em;
  .wrapper {
    &.photo {
      display: flex;
      flex-direction: row;
      height: 525px;
      align-self: center;
      align-items: start;
      justify-content: space-between;
      position: relative;
    }
    img.hero-pic {
      width: 74%;
      position: absolute;
      bottom: 0;
      z-index: 0;
    }
    .contact-form,
    .cta {
      z-index: 1;
    }
    .contact-form {
      max-width: 46%;
      h1 {
        text-align: center;
        line-height: 1.1;
        margin-bottom: 1em;
        .white {
          color: white;
          text-shadow: 2px 5px black;
        }
      }
      .form-container {
        display: flex;
        flex-direction: column;
        padding: 8px;
        border-radius: 15px;
        background: #f26a0cb8;
        border: 2px solid #ffc300;
        box-shadow: 0px 0px 3px 5px rgb(255 196 0),
          inset 0px 0px 3px 3px rgb(255 196 0);
      }
      .content-bg {
        background: #24221e;
        border-radius: 15px;
        padding: 20px;
        .indications {
          line-height: 1.2;
          text-align: center;
          margin-bottom: 1em;
          font-weight: 700;
          font-size: 0.9em;
          color: white;
          .yellow {
            color: #f6922e;
            text-transform: uppercase;
          }
        }
      }
      form {
        display: flex;
        flex-direction: column;
        position: relative;
        input[type="text"],
        input[type="tel"] {
          background-color: #fff;
          border: 1px solid #f47e1b;
          font-size: 15px;
          border-radius: 6px;
          color: #000;
          font-weight: bold;
          text-align: center;
          margin-bottom: 0.6em;
          padding: 5px 10px;
          transition: all 240ms ease-in;
        }
        input[type="submit"] {
          font-size: 1.2em;
          width: 100%;
          text-align: center;
          padding: 8px 0px;
          border-radius: 50px;
          color: #000;
          font-weight: bold;
          background: rgb(250, 189, 58);
          box-shadow: -1px 2px 10px #b0580fa8;
          background: linear-gradient(
            0deg,
            rgba(250, 189, 58, 1) 0%,
            rgba(244, 126, 27, 1) 100%
          );
          transition: all 240ms ease-in;
          position: absolute;
          bottom: -53px;
          border: 0;
          transform: translateY(0px);
          cursor: pointer;
          &:hover {
            transform: translateY(-7px);
          }
        }
        input:focus-visible {
          outline-style: dashed;
          outline-width: 2px;
          outline-color: #f47e1b;
          border: 1px solid #c7620f;
        }
        .alert {
          color: #f86161;
          font-size: 0.8em;
          text-align: right;
        }
      }
    }
    .cta {
      margin-top: 4em;
      a {
        cursor: pointer;
      }
      img {
        max-width: 250px;
      }
    }
    .cta-mobile {
      display: none;
    }
    .badge-internet {
      display: none;
    }
  }
}

.disclousure-hero {
  color: #f47e1b;
  text-align: center;
  a {
    font-weight: bold;
    color:#f47e1b;
  }
  label {
    cursor: pointer;
  }
}

@media screen and (max-width: 500px) /* Mobile */ {
  section.hero {
    background: #f6921e;
    background: linear-gradient(0deg, rgba(214,115,0,1) 18%, rgba(246,146,30,1) 75%);
    padding-top: 0;
    .wrapper {
      &.photo {
        flex-direction: column;
        align-items: center;
        height: auto;
      }
      img.hero-pic {
        display: none;
      }
      .contact-form,
      .cta {
        z-index: 1;
      }
      .contact-form {
        max-width: 100%;
        h1 {
          font-size: 1.2em;
          .white {
            text-shadow: 2px 2px black;
          }
        }
        .form-container {
          display: flex;
          flex-direction: column;
          padding: 8px;
          border-radius: 15px;
          background: #f26a0cb8;
          border: 2px solid #ffc300;
          box-shadow: 0px 0px 3px 5px rgb(255 196 0),
            inset 0px 0px 3px 3px rgb(255 196 0);
        }
        .content-bg {
          background: #24221e;
          border-radius: 15px;
          padding: 20px;
          .indications {
            font-size: 0.7em;
            br {
              display: none;
            }
          }
        }
        form {
          display: flex;
          flex-direction: column;
          position: relative;
          input[type="text"],
          input[type="tel"] {
            background-color: #fff;
            border: 1px solid #f47e1b;
            font-size: 15px;
            border-radius: 6px;
            color: #000;
            font-weight: bold;
            text-align: center;
            margin-bottom: 0.6em;
            padding: 5px 10px;
            transition: all 240ms ease-in;
          }
          input[type="submit"] {
            font-size: 1.2em;
            width: 100%;
            text-align: center;
            padding: 8px 0px;
            border-radius: 50px;
            color: #000;
            font-weight: bold;
            background: rgb(250, 189, 58);
            box-shadow: -1px 2px 10px #b0580fa8;
            background: linear-gradient(
              0deg,
              rgba(250, 189, 58, 1) 0%,
              rgba(244, 126, 27, 1) 100%
            );
            transition: all 240ms ease-in;
            position: absolute;
            bottom: -53px;
            border: 0;
            transform: translateY(0px);
            cursor: pointer;
            &:hover {
              transform: translateY(-7px);
            }
          }
          input:focus-visible {
            outline-style: dashed;
            outline-width: 2px;
            outline-color: #f47e1b;
            border: 1px solid #c7620f;
          }
          .alert {
            color: #f86161;
            font-size: 0.8em;
            text-align: right;
          }
        }
      }
      .cta {
        margin-top: 3em;
        a {
          cursor: pointer;
        }
        img {
          max-width: 211px;
        }
      }
      .cta-mobile {
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2em;
        margin-top: 2em;
      }
      .badge-internet {
        display: block;
        width: 14em;
      }
    }
  }
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}
