section.top {
  background-color: #000;
  padding-top: 1em;
  padding-bottom: 1em;
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    width: 12em;
    img {
      max-width: 100%;
      margin: 0;
    }
  }
  .contact {
    display: flex;
    align-items: center;

    a {
      margin: 0;
      width: 10em;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 1em;
        margin-top: 1em;
      }
    }
  }
}

@media screen and (max-width: 500px) /* Mobile */ {
  section.top {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    .wrapper {
      justify-content: center;
    }
    .logo {
      width: 8em;
    }
    .contact {
      display: none;
    }
  }
 }

